<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-title>
      Event Ticket Scanner
    </ion-title> -->
    <ion-title>
      Event Ticket Scanner
      <ion-icon name="log-out" float-right class="pull-right logout-action" (click)="logout()"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item text-center (click)="scanCode()" >
    <img width="50%"  height="50%" src="assets/imgs/scan.png">
    <!-- <button (click)="scanCode()" ion-button icon-start block color="secondary" type="button">
      <ion-icon name="qr-scanner"></ion-icon>Scan Now
    </button> -->
    <p>Tap to scan QR Code</p>
  </ion-item>


  <ion-item text-center>
    <ion-label>
      <b>Or</b>
    </ion-label>
  </ion-item>

  
  <form [formGroup]="ticket">
    <ion-item>
    <!--   <ion-label position="fixed">
        <ion-icon name="number"  item-start class="text-primary"></ion-icon>
        Enter Ticket Number
      </ion-label> -->
      <ion-input type="tel" placeholder="Enter Ticket Number" formControlName="ticketnumber"></ion-input>
    </ion-item>


    <ion-item text-center>
      <button ion-button icon-start block color="secondary" type="button" (click)="manualCheckIn()"> Search
      </button>
    </ion-item>
  </form>
  
  <ion-card *ngIf="attendeedata !=null">
    <ion-card-header color="primary" text-center *ngIf="isPresent == 0">
      Valid Ticket
    </ion-card-header>
    <ion-card-header color="primary" text-center *ngIf="isPresent == 1">
      Already CheckIn
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-card-content>
          <p><b>Name : </b>{{ attendeedata.name }}</p>
          <p><b>EmailId :</b>{{ attendeedata.email }}</p>
          <p><b>Mobile Number :</b> {{ attendeedata.mobileNumber }}</p>
          <p><b>Total Ticket :</b> {{ attendeedata.totalTickets }}</p>
          <p><b>Document Type :</b> {{ attendeedata.docType }}</p>
          <p><b>Document Number :</b> {{ attendeedata.docId }}</p>
        </ion-card-content>
        <ion-row>
          <ion-col *ngIf="attendeedata.isPresent == 0" style="font-size: 50px;color: greenyellow;" text-center>
            <ion-icon text-center name="checkmark-circle"></ion-icon>
          </ion-col>

          <ion-col *ngIf="attendeedata.isPresent == 1" style="font-size: 50px;color: greenyellow;" text-center>
            <ion-icon name="close-circle"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-content>


    <!-- <ion-item>
      <h2>Attendee's Name : Kundan Sakpal</h2>
      <p>EventDate : January 5, 2020</p>
      <ion-card-content>
        <p>Ticket Type : Group of 12 people</p>
        <p>Duration : 06 Hours</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-icon text-center name="checkmark-circle"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item> -->
  </ion-card>

</ion-content>
